.headerGlobal {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-top: 3rem;

}
.headerSection {
    display: flex;
    flex-direction: column;
}
.headerSection div {
    display: flex;
    align-items: center;
  column-gap: 0.5rem;
}

/* .totalRevenue{
} */

.estadisticasGlobal h1 {
  /* $ 45,365.00 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
}

.totalDecrement {
  /* $1,294 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #ff4588;
}

.totalIncrement {
  /* $1,294 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #19c332;

}

.searchContainer {

  position: relative; /* Establece la posición relativa para el contenedor */
}

.searchContainer input {
  /* Rectangle 18 */
  padding: .5rem 1.7rem;
  background: #ffffff;
  text-align: start;

  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.searchContainer input[type="text"] {
  display: flex;
  position: relative;
  
}

.searchContainer img {
  position: absolute; /* Establece la posición absoluta para la imagen */
  top: 25%; /* Coloca la imagen en el centro verticalmente */
  left: auto; /* Ajusta la posición desde el lado derecho */
  transform: translateY(0); /* Centra la imagen verticalmente */
  transform: translateX(0); /* Centra la imagen verticalmente */
  cursor: pointer; /* Cambia el cursor al puntero cuando se coloca sobre la imagen */
}

/* iconos de mensajes / notificaciones /user */
.headerIconNotifications {
  display: flex;
  column-gap: 1rem;
}
